.SwitchableArea-Area__ {
  &wrapper {
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &area {
    padding: 10px;

  }

}