<div class="Slider-Area__wrapper">
    <div class="Slider-Area__slide"
         v-if="currentSlide === 'slide-1'"
    >
        <img src="https://img.desktopwallpapers.ru/auto/pics/wide/1920x1200/f8e101812b260e55d1d9b7aa64af8171.jpg"
             alt="slide-1">
    </div>
    <div class="Slider-Area__slide"
         v-if="currentSlide === 'slide-2'"
    >
        <img src="http://hd.wallpaperswide.com/thumbs/black_hole_8-t2.jpg" alt="slide-2">
    </div>
    <div class="Slider-Area__slide"
         v-if="currentSlide === 'slide-3'"
    >
        <img src="http://hd.wallpaperswide.com/thumbs/nature_springtime-t2.jpg" alt="slide-3">
    </div>
</div>